h1 {
	border-radius: 40px; 
	text-align: center;
	color: rgb(37, 64, 0);
	font-size: 30px;
	background-color: rgb(193, 185, 212);
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
.mainpart
{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	
	text-align:center;
	font-size:30px;
	color:rgb(80, 42, 39);
	background-image:url(back.jpg);
	background-size: 100%;	
}
.foother
{
	border-radius: 40px; 
	text-align:center;
	width:50%;
	margin-left:auto;
	margin-right:auto;
	background-color:rgb(193, 185, 212);
}
.MyButton
{
	background-color:rgb(199, 133, 147);
	border-radius: 25px; 
	font-size : 30px;
	color: yellow;
	text-align:center;
}
